:root {
  --bg-blue: #7faff6;
  --bg-light_blue: #c0dbd9;
  --bg-green: #b3f95a;
  --white: #fff;
  --btn-blue: #a5c7f9;
}

html {
  background-color: var(--white);
}

* {
  box-sizing: border-box;

  transition: 0.3s;
}

.body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;

  background: var(--bg-light_blue);
}

.wrapper {
  position: relative;

  min-height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  row-gap: 15px;
}

.header,
footer {
  display: flex;

  height: 100px;
  padding: 30.5px 30px;

  background: var(--bg-blue);
}

.main {
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 8px 15px;

  color: var(--white);
  font-family: 'Roboto';
  font-size: 20px;
  line-height: 23px;

  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  filter: hue-rotate(33deg);
}

.link {
  color: var(--white);
  text-decoration: none;
}

.btn-openPopupBtn {
  background: var(--btn-blue);
}

.popup {
  display: none;
}

/* 
Можно было бы сделать кнопку открытия поп-апа кастомным радиобаттоном и также настроить открытие через комбинированные селекторы:
потребовалось бы больше кода на кастомизацию радиобаттона, но выиграла бы семантика. Зависит от цели.
 */

.popup:target {
  display: flex;

  animation: show 0.3s ease;
  animation-fill-mode: forwards;
}

.popup {
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 200px);

  display: none;

  width: 400px;
  height: 400px;
  padding: 15px;

  background: var(--white);
}

.btn-closePopupBtn {
  position: absolute;
  top: 15px;
  right: 15px;

  background-color: var(--bg-blue);
}

.popup-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  font-size: 53px;
  line-height: 62px;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
